<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.mapper.CheckOutMapper">
	<!-- 장바구니에 담긴 물건을 조회하는 쿼리 -->
	<select id="findCart" parameterType="map"
		resultType="CartItemDTO">
		SELECT
			sku.sku_name,
			sku.sku_cost,
			ci.sku_value,
			sp.promotion_idx
		FROM
		cart_item ci
		JOIN
			sku ON ci.sku_idx = sku.sku_idx
		JOIN
			cart ca ON ci.cart_idx = ca.cart_idx
		LEFT JOIN
			sku_promotion sp ON sp.sku_idx = ci.sku_idx
		WHERE
		ca.customer_idx = #{customerIdx}
		<if test="skuIdxList != null and skuIdxList.size() > 0">
			AND ci.sku_idx IN
			<foreach item="skuIdx" collection="skuIdxList" open="("
				separator="," close=")">
				#{skuIdx}
			</foreach>
		</if>
	</select>


	<!-- 결제하는 사람의 정보를 가져오는 쿼리 -->
	<select id="findCustomer" parameterType="int"
		resultType="CheckOutDTO">

		SELECT
		ci.cart_item_idx,
		c.customer_name,
		c.customer_email,
		c.customer_add,
		c.customer_add_more,
		c.customer_phone,
		c.customer_idx
		FROM
		cart_item ci
		JOIN
		cart ca ON ci.cart_idx = ca.cart_idx
		JOIN
		customer c
		ON ca.customer_idx = c.customer_idx
		WHERE
		c.customer_idx =
		#{customerIdx};
	</select>

</mapper>


